<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phoen book</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header th:replace="layout :: site-header"/>
<h3>User Contacts Details</h3>
<!--<div>
    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/app-logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div> -->
<br/>
<table>
    <tr th:each="contact : ${userContacts}">
        <td th:text="${contact.id}">Id</td>
        <td th:text="${contact.fio}">Name</td>
        <td th:text="${contact.cellPhone}">cellPhone</td>
        <td th:text="${contact.homePhone}">homePhone</td>
        <td th:text="${contact.address}">address</td>
        <td th:text="${contact.mail}">mail</td>
    </tr>
</table>
<footer th:replace="layout :: site-footer"/>
</body>
</html>