<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone book</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header th:replace="layout :: site-header"/>
<h3>User Contacts Details</h3>
<br/>

<table>
    <tr th:each="contact : ${userContacts}">
        <td th:text="${contact.id}">Id</td>
        <td th:text="${contact.fio}">Name</td>
        <td th:text="${contact.cellPhone}">cellPhone</td>
        <td th:text="${contact.homePhone}">homePhone</td>
        <td th:text="${contact.address}">address</td>
        <td th:text="${contact.mail}">mail</td>
    </tr>
</table>

<footer th:replace="layout :: site-footer"/>
</body>
</html>