<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <a href="index.html" th:href="@{/}">Home</a>
        <a href="login.html" th:href="@{/app/login}">Login</a>
        <a href="user-creation.html" th:href="@{/app/create-user}">Register</a>
        <a href="contacts.html" th:href="@{/app/secure/contact-details}">Conatcs</a>
        <a href="contact-creation.html" th:href="@{/app/contact/creation}">Create Create</a>
        <div id="logged-in-info">
            <span>Hello,<b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b></span>
            <form method="post" th:action="@{/app-logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </header>

    <!--<ul id="messages" th:with="notifyMessages=${session[T(blog.service
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(blog.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>

    </ul>-->
</header>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Web Phone Book.</p>
<footer th:fragment="site-footer">
    &copy; Spring MVC Phone Book System, 2017
</footer>
</body>
</html>