<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:replace="layout :: site-header"/>
<h1>Create User</h1>
<form action="#" th:action="@{/app/create-user}" th:object="${user}" method="POST">
    <table>
        <tr>
            <td>Full Name</td>
            <td>
                <input type="text" th:field="*{fullName}"/>
                <label th:if="${#fields.hasErrors('fullName')}" th:text="#{error.user.fullName}" th:class="'error'">Full
                    Name Error</label>
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" th:field="*{userName}"/>
                <label th:if="${#fields.hasErrors('userName')}" th:text="#{error.user.userName}" th:class="'error'">Login
                    Error</label>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" th:field="*{password}"/>
                <label th:if="${#fields.hasErrors('password')}" th:text="#{error.user.password}" th:class="'error'">Password
                    Error</label>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" th:value="#{user.form.submit}"/>
                <input type="reset" th:value="#{user.form.reset}"/>
            </td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: site-footer"/>
</body>
</html>